<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ControlHoras.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!-- Cambie el uso de key por un connectionstring para una mayor flexibilidad en los parametros de conexion a la BD
Cambiar los valores que sean necesarios -->
  <connectionStrings>
    <!--add name="TrustDbConnectionString" connectionString="Server=localhost;Database=trustdb;Uid=usrtrust;Pwd=usrtrust;Port=3306;ConnectionLifeTime=0;AllowUserVariables=true;" /-->
    <add name="TrustDbConnectionString" connectionString="Server=192.168.1.3;Database=trustdb;Uid=usrtrust;Pwd=usrtrust;Port=3306;ConnectionLifeTime=0;AllowUserVariables=true;" />
  </connectionStrings>
  <appSettings>
    <add key="DocsPath" value="C:\Documents and Settings\jgarat\Escritorio\TrustInter\Codigo\ControlHoras" />
    <add key="DirectorioRelativoDocs" value="Docs" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="NroFuncionarioPivot"  value="9999"/>
    <add key="NroFuncionarioVacanteTemporal"  value="9998"/>
    <add key="LogEnabled" value="true"/>
    <add key="LogFilePath" value="C:\"/>
    <add key="ConsultasExportToExcel_FormatoNuevo" value="true"/>
    <add key="Codiguera_TipoExtraLiquidacion" value="true"/>
  </appSettings>
  <applicationSettings>
    <ControlHoras.Properties.Settings>
      <setting name="UserNameLogged" serializeAs="String">
        <value />
      </setting>
    </ControlHoras.Properties.Settings>
  </applicationSettings>
</configuration>