<?xml version="1.0"?>
<configuration>
<configSections>
  
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup>

<!-- Cambie el uso de key por un connectionstring para una mayor flexibilidad en los parametros de conexion a la BD
Cambiar los valores que sean necesarios -->

  <connectionStrings>
    <add name="TrustDbConnectionString" connectionString="Server=localhost;Database=trustdb;Uid=jgarat;Pwd=jgarat;Port=3306;ConnectionLifeTime=0;AllowUserVariables=true;"/>
  </connectionStrings>
  <appSettings>
	<add key ="DocsPath" value="C:\Documents and Settings\Administrador\Escritorio\ControlHoras\Codigo\ControlHoras"/>
	<add key ="DirectorioRelativoDocs" value="Docs"/>
  </appSettings>
</configuration>
