<?xml version="1.0"?>
<configuration>
<configSections>
  
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup>
  <connectionStrings>
    
  </connectionStrings>
  <appSettings>
    <add key="Servidor" value ="localhost"/>
    <add key="Puerto" value ="3306"/>
    <add key="Usuario" value ="jgarat"/>
    <add key="Password" value ="jgarat"/>
    <add key ="Base" value ="trustdb"/>
    <add key ="DocsPath" value="C:\Documents and Settings\Administrador\Escritorio\Trust\Codigo\ControlHoras\bin\Release"/>
  </appSettings>
</configuration>
